# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage
coverage.cjs

# Transpiled files
build/

# VS Code
.vscode

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
